/*-- scss:defaults --*/
$h2-font-size:          1.6rem !default;
$headings-font-weight:  500 !default;
$body-color:            $gray-700 !default;

/*-- scss:rules --*/
h1, h2, h3, h4, h5, h6 {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, .3);
}

.logo {
  width : 20%;
  position: absolute;
  left:20px;
}
.metrics {
  width : 30%;
  position: absolute;
  right:0px;
}