name: build

on:
  schedule:
    - cron: '0 0 * * 0' 
  push:
    branches:
      - main

env: 
  quarto_file: ${{ github.event.repository.name }}
  GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build-deploy:
    if: "!contains(github.event.head_commit.message, 'skip build')"
    runs-on: ubuntu-latest

    steps:
      - name: Checking out repository for Github action
        uses: actions/checkout@v3

      - name: Installing dependencies with Micromamba
        uses: mamba-org/provision-with-micromamba@main
        with:
          cache-env: true

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        with:
          version: pre-release
          tinytex: true
  
      - name: Install Computo extension for Quarto
        run: |
            quarto add --no-prompt computorg/computo-quarto-extension

      - name: Rendering with Quarto
        shell: bash -l {0}

        run: |
            quarto render ${{ env.quarto_file }}.qmd
            mkdir _build
            mv ${{ env.quarto_file }}.html _build/index.html
            mv -vf ${{ env.quarto_file }}_files figures ${{ env.quarto_file }}.pdf _build/
            cp environment.yml _build/
            touch _build/.nojekyll

      - name: Deploying article on github pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          BRANCH: gh-pages
          FOLDER: _build
          CLEAN: true
